@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Unica+One&display=swap');

*{
    padding:0;
    margin:0;
    font-family: 'Unica One', sans-serif;
}

:root{
    --background:#000000;
    --primary-color:#C9ADA7;
    --button-color1:#FFFFFF;
    --button-color2:#F4ACB7;

    --background2:#F7D1CD;
    
    --pc-large:80px;
    --pc-medium:40px;
    --pc-small:20px;
}

.section_padding
{
    padding:7rem;
}

.section_margin
{
    margin:2rem;
}

.home_container
{
    background-color: var(--background);
    height:100vh;
    width:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_title
{
    color:var(--primary-color);
    font-size: var(--pc-large);
    text-align: center;
}

button
{
    padding:var(--pc-small);
    border-radius: 10px;
    border:none;
    cursor: pointer;
}

.home_button
{
    display: flex;
    width: 20vw;
    justify-content: space-between;
    margin-top:var(--pc-medium);
}

.view
{
    background-color: var(--button-color1);
    font-family: 'Albert Sans', sans-serif;
}

.view:hover
{
    background-color: var(--button-color2);
    transition: 0.5s ease;
    transform: scale(1.05,1.05);
}

.get
{
    background-color: var(--button-color2);
    font-family: 'Albert Sans', sans-serif;
}

.get:hover
{
    background-color: var(--button-color1);
    transition: 0.5s ease;
    transform: scale(1.05,1.05);
}

@media screen and (max-width: 770px) 
{
    .home_button
    {
        flex-direction: column ;
    }
}

.a1{
    font-weight: bolder;
    font-size: var(--pc-medium);
    padding-left: 6rem;
    background-color: var(--background2);
}
.design_section
{
    background-color: var(--background2);
    height:auto;
    width:auto;
    display:flex;
    flex-direction: column;
    /* padding: var(--section_padding); 
    margin: var(--section_margin);  */
}

.picture
{
    height: 20rem;
    width: 25rem;
    border-radius: 10px;
}

.section1
{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}
.section2
{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.left
{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}

.image1
{
    /* background: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8)), url("https://ik.imagekit.io/ikmedia/blog/hero-image.jpeg"); */
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;
}

.text1
{
    font-weight: bolder;
    font-size: var(--pc-medium);
    margin-bottom: 2rem;
}

.text2
{
    font-family: 'Albert Sans', sans-serif;
}

.image2
{
    display: flex;
    justify-content: flex-start;
    flex-basis: 50%;
}

@media screen and (max-width: 770px) 
{
    .section1
    {
        flex-direction: column-reverse;
    }
    .section2
    {
        flex-direction:column;
    }
}

.list
{
    background-color: var(--background2);
    height:auto;
    width:auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.heading
{
    font-weight: bolder;
    font-size: var(--pc-large);
    margin-bottom: 2rem;
}
.sec_1
{
    display: flex;
    justify-content: space-around;
}
.sec_2
{
    display: flex;
    justify-content: space-around;
}

.pic
{
    height: 10rem;
    width: 10rem;
    border-radius: 10px;
    margin-bottom: 20px;
}

.img1
{
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional: Center content horizontally in each .img1 */
    text-align: center;
}

.t2
{
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'Albert Sans', sans-serif;
}

.t1
{
    color: #FFFFFF;
    font-family: 'Albert Sans', sans-serif;
}

@media screen and (max-width: 770px)
{
    .sec_1
    {
        flex-direction: column;
    }
    .sec_2
    {
        flex-direction: column;
    }
    .pic
    {
        height: 20rem;
        width: 20rem;
    }
}

.comment
{
    background-color: var(--background2);
    height:auto;
    width:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.box 
{
    width: 15rem; 
    height: 17rem; 
    background-color: #F3BDB7;  
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 20vh;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 80%; 
    height: 80%; 
    border-radius: 10px;
}

@media screen and (max-width: 770px)
{
    .comment
    {
        flex-direction: column;
    }   
}

.end
{
    background-color: var(--background2);
    height:auto;
    width:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt
{
    color:var(--background);
    font-size: var(--pc-medium);
    text-align: center;
    margin-bottom: 1rem;
}

.txt1
{
    text-align: center;
    font-family: 'Albert Sans', sans-serif;
}


.footer
{
    background-color: var(--background2);
    height:auto;
    width:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around; 
}

.block1
{
    margin-top: 4rem;
}

::-webkit-scrollbar {
    width: 15px; /* Adjust the width of the scrollbar */
  }
  
  /* Change the color of the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background-color: var(--button-color2);
    border-radius: 4px;
  }
  
  /* Change the color of the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--background); 
  }
  
  /* Change the color of the scrollbar track when scrollbar is in a "hover" state */
  ::-webkit-scrollbar-track:hover {
    background-color: var(--button-color1); 
  }