@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .custom-cursor {
  cursor: url('/assets/Image.svg'), auto;
} */

.rotate-infinite {
  animation: rotate 5s linear infinite;
}

.gradient-text {
  background: linear-gradient(to right, #8338EC, #B923FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* @keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
} */

.icon-size {
  width: 40px; /* Set your desired width */
  height: 40px; /* Set your desired height */
}

@media (min-width: 768px) {
  
  .blob {
    width: 450px;
    height: 450px;
    border-radius: 100%;
    background-image: linear-gradient(#1100ff 10%, #ff00f2);
    filter: blur(250px);
    transition: all 450ms ease-out;
    z-index: -1;
  }
  .custom-cursor {
    cursor: none; /* Hide the default cursor */
  }
  
  .cursor-circle {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #A52BF8; /* Adjust color and opacity as needed */
    pointer-events: none; /* Ensure the custom cursor doesn't interfere with mouse events */
    z-index: 9999;
    transform: translate(-50%, -50%);
  }
}
/* .custom-cursor {
  cursor: none; 
} */

/* .cursor-circle {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #A52BF8; 
  pointer-events: none; 
  z-index: 9999;
  transform: translate(-50%, -50%);
} */